 /* ========== NAVBAR ========== */ 
 #navbar-main {
	display: flex;
	box-sizing: border-box;
	background-color: $primary;
	#navbar {
		display: flex;
		flex: 1 1 auto;
		z-index: 198;
		font-size: 16px;
		line-height: 1em;
		display: block;
		zoom: 1;
		#navbelt {
			align-items: center;
			display: flex;
			height: 70px;
			background-color: $blue;
			justify-content: space-between;
			margin: 0 auto;
			padding: 0 2rem;
			position: fixed;
			top: 0;
			z-index: 9999;
			width: 100%;
			color: $light;
			.brand {
				#logo {
					color: $light;
					text-shadow: 0 1px $light-blue;
					font-size: 1.6rem;
				}
			}
			.auth {
            display: flex;
				flex-direction: row;
				align-items: center;
            padding: 0 1rem;
            gap: 1rem;

				.menu {
					display: flex;
					flex-direction: row;
					gap: 1rem;
				}
				
				.hide {
					display: none;
					.icon {
						&:hover {
							color: $primary;
						}
					}
				}

				.logout {
					margin-left: 1.4rem;
					color: $light;

					@media screen and (max-width: 680px) {
						margin-left: 1.4rem;
						margin-right: 3rem;
					}
				}
				.create, .signup, .signin {
					color: $light;
					padding: 6px 12px;
					font-size: 1.1rem;
					font-weight: 500;
					transition: $transition-slow;
					text-transform: uppercase;
					
					&:hover {
						text-decoration: none;
						color: $primary;
						background-color: rgb($light, 0.9);
						padding: 6px 12px;
						border-radius: 4px;
					}
					
				}
				@media screen and (max-width: 680px) {
					.hide {
						display: block;
						.icon {
							color: $light;
						}
					}
					.create, .signup, .signin {
						display: none;
					}
					gap: 1.5rem;
					padding: 0;
				}
				@media screen and (max-width: 500px) {
					gap: 0.7rem;
					padding: 0;
				}
			}
			@media screen and (max-width: 680px) {
				padding: 0 0 0 2rem;
			}
		}
	}
}